<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Company</title>
        <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/master.css" rel="stylesheet">
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <!-- // sidebar -->
            <%- include('./sidebar.ejs'); %>
            <div id="body" class="active">
                <!-- header -->
                <%- include('./header.ejs'); %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title">
                            <h6 class="mb-4 text-muted">Create new account</h6>
                    <form action="" method="">
                        <div class="mb-3 text-start">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email adress</label>
                            <input type="email" class="form-control" placeholder="Enter Email" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <!-- 
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Confirm password" required>
                        </div> 
                        -->
                        <div class="mb-3 text-start">
                            <div class="form-check">
                              <input class="form-check-input" name="confirm" type="checkbox" value="" id="check1">
                              <label class="form-check-label" for="check1">
                                I agree to the <a href="#" tabindex="-1">terms and policy</a>.
                              </label>
                            </div>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Register</button>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>