<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a>
        </li>
        <li>
            <a href="/companies"><i class="fas fa-home"></i>Company</a>
        </li>
    </ul>
</nav>
<script>
        let token = '<%=name%>';
        // let token= document.cookie
        console.log(token.name)
</script>